altgraph==0.17.3
auto-py-to-exe==2.35.0
bottle==0.12.25
bottle-websocket==0.2.9
certifi==2023.5.7
charset-normalizer==3.1.0
contourpy==1.0.7
cycler==0.11.0
Eel==0.16.0
fonttools==4.39.4
future==0.18.3
geojson==2.5.0
gevent==22.10.2
gevent-websocket==0.10.1
greenlet==2.0.2
h5py==3.8.0
idna==3.4
kiwisolver==1.4.4
macholib==1.16.2
matplotlib==3.7.1
numpy==1.24.3
packaging==23.1
pandas==2.0.2
Pillow==9.5.0
pvlib==0.9.5
pyinstaller==5.11.0
pyinstaller-hooks-contrib==2023.3
pyowm==3.3.0
pyparsing==3.0.9
PySocks==1.7.1
python-dateutil==2.8.2
pytz==2023.3
requests==2.31.0
scipy==1.10.1
six==1.16.0
tzdata==2023.3
urllib3==2.0.2
whichcraft==0.6.1
windpowerlib==0.2.1
zope.event==4.6
zope.interface==6.0
